@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-container {
  padding-left: 20px; 
  transition: padding 0.3s ease;
}

.all_ContantHead {
  background-image: url(./assets/images/all_ContantHead.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 98%;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  height: 180px; 
}



/* sideBar */

.sidbarContant .css-dip3t8 {
  background-color: #ffffff !important;
  border: none !important;
}

.sidbarContant .ps-menuitem-root {
  color: #6f7992 !important;

}

.sidbarContant .logoSidbar a {
  padding: 0 !important;
}

.sidbarContant .ps-menu-button:hover {
  background-color: #6768A7 !important;
  border-left: solid 3px #34345a;
  color: #ffffff;
}

.sidbarContant .logoSidbar a:hover {
  background-color: transparent !important;
  border: none;
}

.sidbarContant .css-dip3t8 {
  height: 100vh !important;
  /* border-top-right-radius: 58px; */

}

/* زر السهم على جنب */
.collapse-toggle {
  position: absolute;
  top: 20px;
  right: -12px;
  width: 25px;
  height: 25px;
  background-color: #6768A7;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/* .collapse-toggle:hover {
  background-color: #f0f0f0;
} */

/* تنسيق عنوان Wendo */
.wendo-title {
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.wendo-text {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

/* العناوين الرمادية */
.sideBar-title {
  opacity: 1;
  color: gray;
  font-weight: bold;
  cursor: default;
  pointer-events: none;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* الخط الفاصل */
.sidebar-divider {
  height: 1px;
  background-color: #a8a8a8;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}




.avatar-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}


/* tables */
.custom-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(161, 60, 60, 0.05);
  padding: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border-collapse: collapse;
}

.custom-table{

  border: 2px solid #156082; /* تحديد لون الحدود الخارجية */
  border-radius: 8px; /* استدارة الحواف */
  border-collapse: separate; /* ترك الحدود متباعدة */
  margin-top: 16px; /* إضافة مسافة من الأعلى */
  margin-bottom: 16px; /* إضافة مسافة من الأسفل */
}


.custom-card table thead {
  background: #f9fafb;
  font-weight: 600;
  color: #0f172a;
}

/* Badge Styles */
.badge-custom {
  padding: 4px 8px;
  border-radius: 54px;
  font-size: 13px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.badge-active {
  background-color: #E9FFEF;
  color: #409261;
}

.badge-offline {
  background-color: #E1E1E1;
  color: #333;
}

.badge-wait {
  background-color: #FFF2DD;
  color: #D98634;
}

.custom-card table tbody tr:hover {
  background: #f1f5f9;
}

.avatar-initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
}

/* table pagination */
.custom-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 16px 0;
}

.page-btn {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #156082;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-btn:hover {
  background-color: #e6f0f8;
  border-color: #156082;
}

.page-btn.active {
  background-color: #156082;
  color: #fff;
  font-weight: bold;
  border-color: #156082;
}


/* table header */
.table-header {
  background: white;
  border-radius: 12px;
}

.table-header h5 {
  color: #0f172a;
  font-size: 16px;
}

.table-header input {
  font-size: 14px;
}
.custom-btn {
  background-color: #156082 !important;
  border-color: #156082 !important;
  border-radius: 100px !important; 
  padding: 8px 16px !important;
  color: #fff;
  gap: 8px !important;
}

.custom-btn:hover {
  background-color: #104d63 !important; /* لون أغمق عند hover */
  border-color: #104d63 !important;
}
.filter-btn {
  border-radius: 20px !important; 
}

